.App {
  background-color: #F8F9FA;
}

.show-videos {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.show-gifs {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.fill-form {
  margin: 30px auto;
  width: 50%;
  
}
.exercise-card {
  width: 300px;
  
}

.exercise-detail-btn {
  color: white;
  text-decoration: none;
}
.exercise-detail-btn:hover {
  color: white;
}

.home-page {
  text-align: center;
  display: flex;
  flex-direction: column;justify-content: center;
  gap: 50px;
}

.home-head2 {
  color: red;
  margin: 20px;
  font-size: 45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.footer {
  height: 150px; 
}

.exercise-page {
  text-align: center;
}

.login-page h1{
  text-align: center;;
}

.search-gifs {
   width: 50%;
   margin: 42px auto;
 
}

.my-plan-page {
  text-align: center;
  
}

.plan-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plan-input {
  width: 40px;
  border-radius: 5px;
  margin-top:3px;
}
.body-part-container {
  display: flex;
}

.map-page {
  width: 500px;
  margin: 0 auto;
}

.body-part-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.video-page {
  text-align: center;
}

.video-page h2 {
  padding: 30px;
}

.show-videos {
  display: flex;
  flex-wrap: wrap;
}





