/* .App {
  text-align: center;
} */

.show-videos {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.show-gifs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.show-gifs img {
  width: 300px;
}


.fill-form {
  margin: 30px auto;
  width: 50%;
  
}