/* .App {
  text-align: center;
} */

.show-videos {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.show-gifs {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}




.fill-form {
  margin: 30px auto;
  width: 50%;
  
}
.exercise-card {
  width: 300px;
}

.exercise-detail-btn {
  color: white;
  text-decoration: none;
}
.exercise-detail-btn:hover {
  color: white;
}
